[submodule "Teamwork-Project-OOP"]
	path = Teamwork-Project-OOP
	url = https://github.com/Team-Rose-Lady-Liberty/Teamwork-Project-OOP
[submodule "PHP-Basics-Project"]
	path = PHP-Basics-Project
	url = https://github.com/SoftUniTeamWork/PHP-Basics-Project
[submodule "JS-Basics-Team-Salmon-Berry"]
	path = JS-Basics-Team-Salmon-Berry
	url = https://github.com/rozay/JS-Basics-Team-Salmon-Berry
[submodule "JavaTeamwork"]
	path = JavaTeamwork
	url = https://github.com/krastoss/JavaTeamwork
[submodule "Social-Network-SPA-Project"]
	path = Social-Network-SPA-Project
	url = https://github.com/Gleomit/Social-Network-SPA-Project
[submodule "Web-Development-E-Shop"]
	path = Web-Development-E-Shop
	url = https://github.com/Gleomit/Web-Development-E-Shop
[submodule "Database Applications Project"]
	path = SupermarketChain
	url = https://github.com/mar0der/SupermarketChain
